
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ChucVu> mListCV = ViewBag.mListCV;
}

@using MyGym.Models;

<h2>Thêm Nhân Viên</h2>

<br />
<form action="/NhanVien/AddNV" name="form" method="post">
    Mã Nhân Viên <br /> <input type="text" class="form-control" name="mahv" id="mahv"required /><br />
    Tên Nhân Viên <br /><input type="text" class="form-control" name="tenhv" id="tenhv" required/><br />
    CMND <br /><input type="number" class="form-control" name="cmnd" id="cmnd" required/><br />
    Ngày Sinh <br /><input type="date" class="form-control" name="ngaysinh" id="ngaysinh" required/><br />
    SDT <br /><input type="number" class="form-control" name="sdt" id="sdt" required/><br />
    Địa Chỉ <br /><input type="text" class="form-control" name="diachi" id="diachi" required/><br />
    <fieldset>
        <legend>Gioi tinh</legend>
        <input type="radio" name="gioitinh" value="male" checked /><label> Male</label><br />
        <input type="radio" name="gioitinh" value="female" /><label> Female</label><br /><br />
    </fieldset>
    <div class="form-inline">
        Chức Vụ <br />
    <select name="machucvu" class="form-control">
        @foreach (ChucVu k in mListCV)
        {
            if (k.MaChucVu.Equals(mListCV.ElementAt(0).MaChucVu))
            {
                <option value="@k.MaChucVu" selected>@k.TenChucVu</option>
            }
            else
            {
                <option value="@k.MaChucVu">@k.TenChucVu </option>
            }
        }
    </select>
    <a href="~/ChucVu/Create"><span class="glyphicon glyphicon-plus-sign"></span></a><br />
    </div><br/>
    Hệ Số Lương <br /><input type="number" class="form-control" name="hsl" id="hsl" /><br />
    <br />
    <input type="submit" class="btn btn-primary" value="Create" onsubmit="return TextBoxIsEmpty()" /> |
    @Html.ActionLink("Back To List", "Index", "NhanVien")
</form>

