
@{
    /**/
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TaiKhoan> mListTK = ViewBag.mListTK;
    BLL mBll = ViewBag.mBll;
    if (mListTK != null)
    {
        Session["TKsize"] = mListTK.Count;
        int c = 0;
        foreach (TaiKhoan hv in mListTK)
        {
            Session["TK" + c.ToString()] = hv.TenDangNhap;
            c++;
        }
    }
}
@using MyGym.Models;

<h2>Danh Sách Tài Khoản</h2>

<div class="collapse navbar-collapse" id="navbarColor01">
    <p>
        @Html.ActionLink("Create New", "Create", "TaiKhoan")
    </p>
    <form class="form-inline" action="/TaiKhoan/Search" method="post">
        <input class="form-control" type="text" name="search" id="search" placeholder="Search" required>
        <button class="btn btn-primary" type="submit">Search</button>
    </form><br />
</div>

<div>
    <table class="table">
        <tr>
            <th>Tên Đăng Nhập</th>
            <th>Mật Khẩu</th>
            <th>Quyền Hạn</th>
            <th></th>
        </tr>
        @if (mListTK == null) {
            <h5>Không có kết quả phù hợp.</h5>
        }
        else {
            for (int i = 0; i < mListTK.Count; i++)
            {
            <tr>
                <td>@mListTK[i].TenDangNhap</td>
                <td>@mListTK[i].MatKhau</td>
                <td>@mListTK[i].permission</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "TaiKhoan", new { tendn = mListTK[i].TenDangNhap }, null)
                </td>
            </tr>
            }
        }
    </table>
</div>

<script type="text/javascript">
    function checkEmtyTextBox() {
        if (document.getElementById("search").value == "") {
            alert("Emty field!");
            return false;
        }
        return true;
    }
</script>

